<img class="logo" src="assets/img/icon.jpg">

  <div class="dropdown">
    <input type="image" style=" margin-top: 16px; margin-left: 10px ;" name="Name of image button"  (click)="showContent()" src="assets/img/2516725.png" width="20" alt="text">
    <ng-container *ngIf="content">
      <div class="dropdown-content">
        <a (click) = "sort('priority')">Sort by priority</a>
        <a (click) = "sort('content')" >Sort by content</a>
      </div>
    </ng-container>
  </div>

<input type="text" class="todo-input" placeholder="Adding todo" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">

<todo-item
  *ngFor="let todo of todoService.todosFiltered()"
  [todo]="todo"
></todo-item>

<div class="extra-container">
  <div><label><input type="checkbox" (change)="todoService.checkAllTodos()"  [(ngModel)]="!todoService.anyRemainingModel"> Check All</label></div>
  <div>{{ todoService.remaining() }} items left</div>
</div>

<div class="extra-container">
  <div>
    <button style="margin-right: 10px;" mat-raised-button color="primary" [ngClass]="{'active': todoService.filter === 'all'}" (click)="todoService.filter='all'">All</button>
    <button style="margin-right: 10px;" mat-raised-button color="primary" [ngClass]="{'active': todoService.filter === 'active'}" (click)="todoService.filter='active'">Active</button>
    <button style="margin-right: 10px;" mat-raised-button color="primary" [ngClass]="{'active': todoService.filter === 'completed'}" (click)="todoService.filter='completed'">Completed</button>
  </div>

  <div *ngIf="todoService.atLeastOneCompleted()">
    <button mat-raised-button color="primary" (click)="todoService.clearCompleted()">Clear Completed</button>
  </div>

</div>